// Styling for the portfolio section
#services {
    .services-item {
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;
        .services-link {
            position: relative;
            display: block;
            margin: 0 auto;
            .services-hover {
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                background: fade-out($primary, 0.1);
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity ease-in-out 0.25s;
                .services-hover-content {
                    font-size: 1.25rem;
                    color: white;
                }
            }
            &:hover {
                .portfolio-hover {
                    opacity: 1;
                }
            }
        }
        .services-caption {
            padding: 1.5rem;
            text-align: center;
            background-color: $white;
            .services-caption-heading {
                font-size: 1.5rem;
                font-family: $headings-font-family;
                font-weight: $headings-font-weight;
                margin-bottom: 0;
            }
            .services-caption-subheading {
                font-style: italic;
                font-family: $subheadings-font-family;
            }
        }
    }
}

.services-modal {

    max-width: 700px;

    // position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);


    .services-dialog {
        margin: 1rem;
        max-width: 100vw;
    }
    .services-content {
        padding-top: 6rem;
        padding-bottom: 6rem;
        text-align: center;
        h2 {
            font-size: 3rem;
            line-height: 3rem;
        }
        ul.list-bullets {
            margin-bottom: 2rem;
            list-style: square outside;
            margin-left: 20px;
            padding-left: 0;
        }

        img {
            margin-bottom: 2rem;
        }
    }
    .close-modal {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        background-color: transparent;
        &:hover {
            opacity: 0.3;
        }
    }
}

.col-md-6 {
    margin-bottom: 50px;
}


li.list-bullet {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 30px;
}

.padding-top {
    padding-top: 6rem
}

.margin-bottom {
    margin-bottom: 30px;
}

.modal-body-services {
    display: flex;
    flex-direction: column;
    margin: 50px;
}