// Global styling for this template
body {
    overflow-x: hidden;
}

p {
    line-height: 1.75;
}

#silverLake {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-text {
    margin: 25px !important;
    padding: 0px !important;
}

.page-section {
    // padding: 6rem 0;
    padding-bottom: 20px;
    h2.section-heading {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h3.section-subheading {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: $subheadings-font-family;
        margin-bottom: 4rem;
    }
    h3.section-subheading2 {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: $subheadings-font-family;
        max-width: 800px;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.bg-light {
    background-color: #d5d8dc !important;
}

.triangle {
    // padding-top: 30px;
    // opacity: 0;
    // background-color: white;
    margin-bottom: -1px;
}

.triangleWhite {
    padding-bottom: 6rem;
    // https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(345deg) brightness(99%) contrast(102%);
}

.triangleGrey {
    padding-bottom: 6rem;
    filter: invert(97%) sepia(5%) saturate(304%) hue-rotate(182deg) brightness(92%) contrast(86%);
}

@include media-breakpoint-up(md) {
    section {
        // padding: 9rem 0;
    }
}

// Highlight color customization

::-moz-selection {
    background: $primary;
    text-shadow: none;
}

::selection {
    background: $primary;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
